@page "/TipoTecnico/Details/{TipoId:int}"
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles del tipo de técnico</PageTitle>

@if (tipotecnico != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header bg-primary text-white text-center py-2 rounded">
                <h3 class="text-center"><strong>Detalles del Tipo t&eacute;cnico</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>TipoId:</strong> @tipotecnico.TipoId</li>
                                <li><strong>Descripción:</strong> @tipotecnico.Descripcion</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
        </div>
    </div>
}
else
{
    <p>TipoTecnico no encontrado.</p>
}

@code {
    [Parameter]
    public int tipoId { get; set; }
    public Tipostecnicos? tipotecnico { get; set; } = new Tipostecnicos();
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        tipotecnico = await tiposTecnicosService.Buscar(tipoId);
    }
    private async Task Volver()
    {
        navigationManager.NavigateTo("/TipoTecnicos/index");
    }
}