@page "/TipoTecnicos/index"
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigationManager

<PageTitle>Consulta Tipos Técnicos</PageTitle>
<EditForm Model="ListaTiposTecnicos"class="shadow-lg border p-3 rounded">
        <div class="card-header bg-primary text-white text-center py-2 rounded">
            <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Tipos de Técnicos</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3 text-end">
                    <a href="/TipoTecnico/Create" class="btn btn-success" type="button">
                        <i class="bi bi-pencil-square"></i> Crear
                    </a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>TipoId</th>
                        <th>Descripción</th>
                        <th>Detalle</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tecnico in ListaTiposTecnicos)
                    { 
                        <tr>
                            <td>@tecnico.TipoId</td>
                            <td>@tecnico.Descripcion</td>
                            <td>
                                <a href="/TipoTecnico/Details/@tecnico.TipoId" style="border: none; background-color: transparent;" class="btn-detalle">
                                    <span class="bi bi-info-circle-fill" style="font-size: 2rem;"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/TipoTecnico/Edit/@tecnico.TipoId" style="border: none; background-color: transparent;" class="btn-editar">
                                    <span class="bi bi-pencil-square" style="font-size: 2rem;"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/TipoTecnico/Delete/@tecnico.TipoId" style="border: none; background-color: transparent;" class="btn-eliminar">
                                    <span class="bi bi-dash-circle-fill" style="font-size: 2rem;"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer text-start">
            <p>Total de Tipos Técnicos: @ListaTiposTecnicos.Count</p>
        </div>
</EditForm>
@code {
    public List<Tipostecnicos> ListaTiposTecnicos { get; set; } = new List<Tipostecnicos>();

    protected override async Task OnInitializedAsync()
    {
        ListaTiposTecnicos = await tiposTecnicosService.Listar(t => true);
    }
}