@page "/Tecnico/Create"
@inject TecnicoService tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<EditForm Model="tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0" style="background-color white">

        <div class="card-header bg-primary text-center text-white py-2 rounded">
            <h3 style="font-weight: bold;" class="font-weight-bold">Registro de T&eacute;cnicos</h3>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label for="TecnicoId" class="form-label">T&eacute;cnicoId:</label>
                <InputNumber @bind-Value="tecnico.TecnicoID" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="Nombres" class="form-label">Nombres:</label>
                <InputText @bind-Value="tecnico.Nombres" class="form-control" />
                <ValidationMessage For="@(() => tecnico.Nombres)" />
            </div>

            <div class="mb-3">
                <label for="SueldoHora" class="form-label">SueldoHora:</label>
                <InputNumber @bind-Value="tecnico.SueldoHora" class="form-control" />
                <ValidationMessage For="@(() => tecnico.SueldoHora)" />
            </div>
        </div>

        <div class="card-footer d-flex justify-content-lg-center text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary" @onclick="Nuevo"><span class="bi bi-plus"></span>Nuevo</button>
                <button type="submit" class="btn btn-outline-success"><span class="bi bi-check2-square"></span>Guardar</button>
                <button type="button" class="btn btn-outline-danger" @onclick="Volver"><span class="bi bi-arrow-90deg-left"></span>Volver</button>

            </div>

        </div>

    </div>

</EditForm>
@code {
    [Parameter]
    public Tecnico tecnico { get; set; } = new Tecnico();
    public int TecnicoId { get; set; }
    private bool existe = false;

    public async Task Nuevo()
    {
        tecnico = new Tecnico();
        existe = false;
    }

    public async Task Buscar()
    {
        existe = false;
        var encontrado = await tecnicoService.Buscar(tecnico.TecnicoID);
        if (encontrado != null)
        {
            tecnico = encontrado;
        }
        else
        {
            Nuevo();
        }
    }
    public async Task<bool> Validar()
    {
        existe = await tecnicoService.Existe(tecnico.TecnicoID, tecnico.Nombres);
        return !existe;
    }
    public async Task Guardar()
    {
        if (!await Validar())
        {
            return;
        }
        var guardado = await tecnicoService.Guardar(tecnico);
        if (guardado)
        {
            Nuevo();
        }
    }
    public async Task Volver()
    {
        navigationManager.NavigateTo("/Tecnico/Index");
    }
}