@page "/Tecnico/Details/{TecnicoId:int}"
@inject TecnicoService tecnicoService
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<div class="card">
    <div class="card-header bg-red">
        <h2>Detalles del T&eacute;cnico </h2>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">@Tecnico!.TecnicoID</dd>

            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9">@Tecnico.Nombres</dd>

            <dt class="col-sm-3">Sueldo Hora:</dt>
            <dd class="col-sm-9">@Tecnico.SueldoHora</dd>

        </dl>
    </div>
    <div class="card-footer text-lg-center">
        <button type="button" class="btn btn-outline-primary" @onclick="Volver">Volver <i class="bi bi-arrow-return-left" /></button>
    </div>
</div>
@code {
    [Parameter]
    public int TecnicoID { get; set; }
    public Tecnico? Tecnico { get; set; } = new Tecnico();
    public string Notification { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Tecnico!.TecnicoID = TecnicoID;
        Tecnico = await tecnicoService.Buscar(Tecnico.TecnicoID);
    }
    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnico/Index");
    }
}