@page "/Tecnico/Edit/{TecnicoId:int}"
@inject TecnicoService tecnicoService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<EditForm Model="Tecnico" OnValidSubmit="Modificar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header bg-primary text-center">
            <h1>Editar T&eacute;cnico</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label>ID:</label>
                    <div class="input-group">
                        <InputNumber min="0" @bind-Value="Tecnico.TecnicoID" class="form-control" readonly></InputNumber>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label>Nombre:</label>
                    <InputText @bind-Value="Tecnico.Nombres" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Tecnico.Nombres)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label>Sueldo Hora:</label>
                    <InputNumber @bind-Value="Tecnico.SueldoHora" class="form-control"></InputNumber>
                    <ValidationMessage For="@(() => Tecnico.SueldoHora)" />
                </div>
            </div>
        </div>
        <br />
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-success">Modificar <i class="bi bi-floppy-fill" /></button>
            <button type="button" class="btn btn-outline-primary" @onclick="Volver">Volver <i class="bi bi-arrow-return-left" /></button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoID { get; set; }
    public Tecnicos? Tecnico { get; set; } = new Tecnicos();
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        // Buscar el técnico usando el parámetro TecnicoID y asignarlo
        var tecnicoBuscado = await tecnicoService.Buscar(TecnicoID);
        if (tecnicoBuscado != null)
        {
            Tecnico = tecnicoBuscado;
        }
    }

    public async Task Guardar()
    {
        if (await Validar())
        {
            return;
        }

        var guardo = await tecnicoService.Guardar(Tecnico);
        if (guardo)
        {

        }
    }

    public async Task<bool> Validar()
    {
        var Tecnicos = await tecnicoService.Listar(t => t.Nombres.ToLower() == Tecnico.Nombres.ToLower() && Tecnico.TecnicoID != TecnicoID);
        return Tecnicos.Count == 0;
    }

    public async Task Modificar()
    {
        if (!await Validar())
        {
            return;
        }
        var guardo = await tecnicoService.Guardar(Tecnico);
        if (guardo)
        {
            await Volver();
        }
    }

    public Task Volver()
    {
        NavigationManager.NavigateTo("/Tecnico/Index");
        return Task.CompletedTask;
    }
}
