@page "/Tecnico/Index"
@inject TecnicoService tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<EditForm Model="ListaTecnicos" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-center text-white py-2 rounded">
        <h3 style="font-weight: bold;" class="font-weight-bold">Consulta de T&eacute;cnicos</h3>
    </div>
    <div class="col md-3 text-end">
        <a href="/Tecnico/Create" class="btn btn-success"<Icon Name="IconName.Pencil"/>Crear</a>
    </div>

    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th class="text-white">T&eacute;cnicoId</th>
                <th class="text-white">Nombres</th>
                <th class="text-white">Tipo Tecnico</th>
                <th class="text-white">SueldoHora</th>
                <th class="text-white">Ver</th>
                <th class="text-white">Editar</th>
                <th class="text-white">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tecnicos in ListaTecnicos)
            {
                <tr>
                    <td>@tecnicos.TecnicoId</td>
                    <td>@tecnicos?.Tipotecnicos</td>
                    <td>@tecnicos.Nombre</td>
                    <td>@tecnicos.Sueldohora</td>

                    <td>
                        <a href="/Tecnico/Details/@tecnicos.TecnicoId" class="btn btn-outline-primary"><span class="bi bi-eye"></span></a>
                    </td>

                    <td>
                        <a href="/Tecnico/Edit/@tecnicos.TecnicoId" class="btn btn-outline-secondary" style="color: #FF7043; border-color: #FF7043;" onmouseover="this.style.backgroundColor='#FF7043'; this.style.color='#FFFFFF';" onmouseout="this.style.backgroundColor='transparent'; this.style.color='#FF7043';"><span class="bi bi-pencil"></span></a>
                    </td>

                    <td>
                        <a href="/Tecnico/Delete/@tecnicos.TecnicoId" class="btn btn-outline-danger"><span class="bi bi-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card-footer text-start">
        <p>Total de T&eacute;cnicos: @ListaTecnicos.Count</p>

    </div>

</EditForm>
@code {
    public Tecnicos tecnicos = new Tecnicos();
    public List<Tecnicos> ListaTecnicos = new List<Tecnicos>();

    protected override async Task OnInitializedAsync()
    {
        ListaTecnicos = await tecnicoService.Listar(t => true);
    }
}